<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
  bootstrap="../vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">
  <coverage />
  <testsuites>
    <testsuite name="Entities tests">
      <directory suffix=".spec.php">./src/Entities</directory>
    </testsuite>
    <testsuite name="Package tests">
      <file>./src/BlingTest.spec.php</file>
    </testsuite>
  </testsuites>
  <php>
  </php>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory suffix=".php">./src/Entities/@shared</directory>
      <directory suffix=".php">./vendor</directory>
    </exclude>
  </source>
</phpunit>